<div class="footer">
  <div class="footer-inner">
    <div class="footer-logo">
      {{ shop.name }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [{}]
  }
{% endschema %}