<div class="header">
  <div class="header-inner">
    <div class="header-logo">
      {{ shop.name }}
    </div>
    <div class="header-nav">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="header-icons">
      <a href="#">I</a>
      <a href="#">C</a>
      <a href="#">S</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header information"
      }
    ]
  }
{% endschema %}