<div class="image-section">
  <img
    src="{{ section.settings.image | image_url: width: '2000' }}"
    alt=""
    width="100%"
    height="auto"
    class="image-section-media">
</div>

{% schema %}
  {
    "tag": "section",
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Image"
      }
    ]
  }
{% endschema %}