<div class="image-section">
  {{ section.settings.image | image_url: width: 300 | image_tag }}
</div>

{% schema %}
  {
    "tag": "section",
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Image"
      }
    ]
  }
{% endschema %}