<div class="image-section section-{{ section.id }}">
  <div class="image-section-media">
    {{ section.settings.image | image_url: width: 2000 | image_tag }}
  </div>
</div>

{% schema %}
  {
    "tag": "section",
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "text",
        "id": "text",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Image"
      }
    ]
  }
{% endschema %}