{% assign image = 'https://cdn.shopify.com/s/files/1/0630/8754/2408/files/Eye2.jpg' %}

<div class="image-section">
  {{ image | image_url: width: 300 | image_tag }}
</div>

{% schema %}
  {
    "tag": "section",
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Image"
      }
    ]
  }
{% endschema %}