<<<<<<< HEAD
<div class="product-details-page page-width">
    <div class="pdp-grid">
        <div class="pdp-gallery">
            {{ product.featured_image | image_url: width: 1000 | image_tag }}
        </div>
        <div class="pdp-details">
            
        </div>
    </div>
</div> 
=======
<div class="product-details-page page-width">

</div>
>>>>>>> 61998782f5396bfcf1086032f337dcb8b6379cc9
