<div class="product-details-page page-width">
    <div class="pdp-grid">
        <div class="pdp-gallery">
            {{ product.featured_image | image_url: width: 1000 | image_tag }}
        </div>
        <div class="pdp-details">
            
        </div>
    </div>
</div> 