body {
    margin: 0;
}

.main-content {
    background-color: #292929;
}

/*************************/
/******** Header *********/
/*************************/
.header {
    padding: 20px;
}
.header-inner:not(.logo-top) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-top {
    flex-direction: column;
}
.logo-top .header-logo {
    text-align: center;
}
.logo-top .header-row {
    display: flex;
    justify-content: space-between;
}

/*************************/
/***** Section Image *****/
/*************************/

.image-section-media img {
    max-width: 100%;
    height: 100%;
}