:root {
  --timing: 0.6s;
}

/********* Base **********/
body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
}
.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 var(--page-width-padding);
}
.page-width-full {
  max-width: 100%;
  padding: 0 var(--page-width-full-padding);
}
.heading {
  font-size: var(--heading-font-size);
}
.subheading {
  font-size: var(--subheading-font-size);
}
.uppercase {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.icon-chevron {
  transform: rotate(-90deg);
}
.link-animation {
  position: relative;
  text-decoration: none;
}
.link-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 2px;
  bottom: -1px;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.mega-menu .link-animation:not(.child-link):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.burger .link-animation:hover::after, 
.dropdown .link-animation:hover::after,
.sub-menu-parent.burger .link-animation.open:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/******** Header *********/
.header {
  padding-top: 5px;
  padding-bottom: 5px;
}
.relative {
	position: relative;
}
.section-header {
	position: relative;
}
.header-inner:not(.logo-top) {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.header-inner .header-icons {
  justify-content: flex-end;
}
.header-inner.logo-right .header-logo {
  justify-self: flex-end;
}
.logo-top {
  flex-direction: column;
}
.logo-top .header-logo {
  text-align: center;
}
.logo-top .header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo h1 {
  margin: 0;
  font-size: 20px;
}
.header-icons {
  display: flex;
}
.header-icons .icon-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.header-icons .icon {
  width: 20px;
  height: 20px;
  color: #000;
}

/******* Navigation ******/
.header-navigation:not(.burger) .sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: var(--timing);
  top: 100%;
	padding: 25px 0;
}
.header-navigation.mega-menu .sub-menu {
  left: 0;
}
.header-navigation:not(.burger) a {
  display: inline-block;
}
.sub-menu-parent:not(.burger):focus .sub-menu,
.sub-menu-parent:not(.burger):focus-within .sub-menu,
.sub-menu-parent:not(.burger):hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.header-inner .header-navigation.dropdown .sub-menu {
  left: 50%;
  transform: translate(-50%, 0);
}
.sub-menu-parent:not(.burger):hover .icon-chevron {
  transform: rotate(90deg);
}
.sub-menu.with-shadow {
  box-shadow: 4px 4px 10px 0px rgb(65 65 65 / 75%);
}
.mega-menu-grid {
  display: grid;
}
.menu-grid-1 {
	width: 20%;
	grid-template-columns: 100%;
}
.menu-grid-2 {
	width: 40%;
	grid-template-columns: 1fr 1fr;
}
.menu-grid-3 {
	width: 60%;
	grid-template-columns: 1fr 1fr 1fr;
}
.menu-grid-4,
.menu-grid-large {
	width: 80%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sub-menu-parent:not(.burger) .parent-link {
  display: flex;
  gap: 8px;
}
.sub-menu {
  background: #fff;
}
.sub-menu-parent {
  display: inline-block;
}
.sub-menu-parent:not(.burger) {
  padding: 10px 25px;
}
.sub-menu-parent .icon-chevron {
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  transition: var(--timing);
}
.sub-menu-parent.burger {
  display: block;
  text-align: left;
}
.header-navigation a {
  color: #000;
  display: block;
  text-decoration: none;
}
.header-navigation a:hover {
  color: #000;
}
.header-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-navigation ul li {
  list-style-type: none;
  margin: 0;
}
.header-navigation {
  background-color: #fff;
}
.header-navigation > ul {
  text-align: center;
  padding: 0;
}
.mega-menu .sub-menu {
  display: flex;
}
.mega-menu-grid .child-link {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	margin-bottom: 10px;
}
.mega-menu-grid .sub-sub-menu li {
	padding: 5px 0;
}
.nav-burger {
  width: 25px;
  height: 21px;
  position: relative;
  z-index: 1;
}
.burger-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 25px;
  height: 21px;
  cursor: pointer;
}
.nav-burger:not(.open) .burger-icon:hover .two {
  width: 66.666%;
}
.nav-burger:not(.open) .burger-icon:hover .three {
  width: 33.333%;
}
.burger-icon span {
  background-color: #000;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  transition: var(--timing);
}
.nav-burger.open .one {
  transform: translateY(9px) rotate(45deg);
}
.nav-burger.open .two {
  opacity: 0;
}
.nav-burger.open .three {
  transform: translateY(-9px) rotate(-45deg);
}
.burger-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: var(--timing);
  box-shadow: 0px 0px 10px 0px #d3d3d37a;
}
@media screen and (min-width: 768px) {
  .burger-menu {
   max-width: 400px;
  }
}
.nav-burger.open + .burger-menu {
  transform: translateX(0);
}
.header-navigation.burger > ul {
  background-color: #fff;
  height: 100vh;
}
.header-navigation.burger {
  padding: 55px 25px;
}
.header-navigation.burger a {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(212, 212, 212);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger .sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: var(--timing);
}
.burger .sub-menu-link {
  padding-left: 15px;
}
.burger .parent-link {
  padding: 15px 0;
}
.burger .sub-sub-menu {
  max-height: 0;
  transition: var(--timing);
}
.parent-link:has(+ .open) .icon-chevron,
.child-link:has(+ .open) .icon-chevron {
  transform: rotate(90deg);
}
.burger .sub-sub-menu a {
  padding-left: 30px;
}
.mega-menu .sub-menu > ul {
	max-width: var(--page-width);
	margin: auto;
}
.sub-menu-parent.dropdown {
  position: relative;
}
.sub-menu-parent.dropdown .sub-menu {
  min-width: 200px;
}
.sub-menu-parent.dropdown .sub-menu li {
  padding: 5px 0;
}

/***** Section Image *****/
.image-section-media img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: block;
}

.pdp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pdp-gallery img {
  max-width: 100%;
  height: 100%;
  display: block;
}
